<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>309144948706-8h09agr5gq0h1aso4e3h6ia6ss3khgpf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.309144948706-8h09agr5gq0h1aso4e3h6ia6ss3khgpf</string>
	<key>API_KEY</key>
	<string>AIzaSyCzhTOLDtPHHp9AsKn-_oOctCMM0VQqT-I</string>
	<key>GCM_SENDER_ID</key>
	<string>309144948706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shop.appthailand.lekexercise</string>
	<key>PROJECT_ID</key>
	<string>lekexecise</string>
	<key>STORAGE_BUCKET</key>
	<string>lekexecise.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:309144948706:ios:387875e441580fdc89f3bb</string>
</dict>
</plist>